/*** Navbar ***/
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    background-color: teal;
    padding: 10px 20px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
    color: #FFF;
}

/*** Main ***/
main {
    background-color: #CCC;
}

.content-box {
    background-color: #FFF;
    padding: 20px;
}