/*** body ***/
body {
    background-color: grey;
}

/*** Navbar ***/
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    background-color: teal;
    padding: 20px 40px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
    color: #FFF;
}

.navbar-nav {
    flex-direction: row;
    justify-content: center;
}

.navbar-nav .nav-link {
    padding: 0 0.5rem;
}

.nav-item {
    border-right: 1px solid #CCC;
    padding-right: 1rem;
    padding-left: 1rem;
}

.nav-item:last-child {
    border-right: none;
}

@media (max-width: 991px) {
    .navbar .container-lg,
    .navbar-brand {
        display: block;
    }

    .navbar-brand {
        margin-right: -1rem;
        margin-left: -1rem;
    }
}

/*** Main ***/
main {
    background-color: #CCC;
}

main .container {
    padding-top: 40px;
    padding-bottom: 40px;
}

.content-box {
    background-color: #FFF;
    padding: 20px;
}

.content-box h1 {
    color: teal;
    border-bottom: 1px solid #CCC;
}

/* .content-box p {
    float: right;
} */

h1 {
    padding-bottom: 1.5rem;
    margin-bottom: 2rem;
}

.img-fluid {
    margin-bottom: 2rem;
}

.bannertxt {
    position: absolute;
    background-color: teal;
    color: white;
    width: 100%;
    height: auto;
    bottom: 4rem;
    text-align: center;
    font-family: 'Roboto', sans-serif;
    font-weight: 500;
    font-size: 1.75rem;
}

.col-md-5 {
    padding: 0;
    margin: 1rem 2rem 1rem 2rem;
}

/*** Footer ***/
footer {
    text-align: center;
    background-color: grey;
    border-top: teal 5px solid;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #FFF;
    font-size: smaller;
}