/*** Navbar ***/
.navbar {
    padding-top: 0;
    padding-bottom: 0;
}

.navbar-brand {
    background-color: teal;
    padding: 10px 20px;
}

.navbar-light .navbar-brand,
.navbar-light .navbar-brand:hover {
    color: #FFF;
}

/*** Main ***/
main {
    background-color: grey;
}

main .container {

    padding-top: 40px;
    padding-bottom: 40px;
}

.content-box {
    background-color: #FFF;
    padding: 20px;
}

/*** Footer ***/
footer {
    text-align: center;
    background-color: grey;
    border-top: teal 5px solid;
    padding-top: 40px;
    padding-bottom: 40px;
    color: #FFF;
    font-size: smaller;
}